.hamburgerWrapper {
	display: flex;
	align-items: center;
	margin: 0 auto;
}

.hamburgerBox {
	background-color: transparent;

	/* display: inline-block; */
	display: flex;
	flex-direction: column;
	gap: var(--hamburger-gap);

	width: max-content;
	cursor: pointer;
	z-index: 1003;
}
/* individual ham menu lines */
.hamburgerBox div {
	width: var(--hamburger-bar-width);
	height: var(--hamburger-bar-height);
	background-color: var(--light-primary-color);
	/* margin: 5px 0; */
	transition: 0.4s;
	transform-origin: left center;
}
/* active menu line animations */
.hamburgerLineOne {
	-webkit-transform: rotate(-45deg);
	-webkit-translate: 0 calc(var(--hamburger-menu-height));
	transform: rotate(-45deg);
	translate: 0 calc(var(--hamburger-menu-height));
	width: var(--ham-x-width);
}
.hamburgerLineTwo {
	opacity: 0;
}
.hamburgerLineThree {
	-webkit-transform: rotate(45deg);
	-webkit-translate: 0
		calc(var(--hamburger-menu-height) * -1 + var(--hamburger-bar-height));
	transform: rotate(45deg);
	translate: 0
		calc(var(--hamburger-menu-height) * -1 + var(--hamburger-bar-height));
	width: var(--ham-x-width);
}

.hamburgerMenu {
	display: none;
	top: calc(-100vh - 55px);
	transition: all 3s;
}

/* ACTIVE MENU */

.hamburgerMenuActive {
	display: block;
	position: absolute;
	/* gap: 30px; */
	top: 55px;
	left: 0;
	transition: opacity 600ms ease-in-out;
	width: 100vw;
	/* padding: 0 10px; */
	height: 100vh;
	max-height: 100vh;
	background-color: var(--dark-bg-color);
	border-top: 1px solid var(--light-primary-color);
	border-bottom: 1px solid var(--light-primary-color);
	text-align: center;
	z-index: 1000 !important;
	overflow-y: scroll;
}
/* .hamburgerMenuActive .hamburgerMenu {
	top: 55px;
} */

.navWrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.sectionNavWrapper {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	/* gap: var(--flex-gap); */
	/* position: sticky;
	top: 0px; */
	background-color: var(--dark-bg-color);
	padding: 10px;
}
.sectionNavWrapper > li > a {
	text-transform: capitalize;
	line-height: calc(3 * var(--flex-gap));
	font-size: 0.9rem;
}
.sectionLink {
	opacity: 1;
	/* padding: 0 6px; */
	color: var(--light-primary-color);
	width: 100%;
	transition: transform 200ms ease-in;
	cursor: pointer;
}
.sectionLink:hover {
	background-color: var(--dark-bg-secondary-color);
	border-radius: 15px;
}
.sectionLink > a,
.sectionLinkActive > a {
	color: var(--light-primary-color);
	display: inline-block;
	width: 100%;
	height: 100%;
}
.sectionLinkActive {
	opacity: 1;
	width: 100%;
	/* padding: 0 6px; */
	color: var(--highlight-primary-color);
	background-color: var(--highlight-bg-color);
	border-radius: 15px;
	transition: transform 200ms ease-in;
	cursor: pointer;
}
.sectionLinkActive > a {
	color: inherit;
}
.sectionLink:active,
.sectionLinkActive:active {
	transform: scale(0.95);
}

/* SITEMAP */
.sitemapNavWrapper {
	text-align: left;
	width: 100%;
	padding-left: 10px;
}
.sitemapNavHeader {
	color: var(--gray-primary-color);
	font-size: 0.9rem;
}

.sitemapNavTopic > a {
	color: var(--light-primary-color);
	font-size: 1.1rem;
	/* display: inline-block; */
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	padding-left: 20px;
}

.sitemapNavTopic:hover {
	margin-left: -10px;
	margin-right: 10px;
	padding-left: 10px;
	background-color: var(--dark-bg-secondary-color);
}

.hamburgerLink {
	opacity: 1;
	display: block;
	/* font-size: 30px; */
	color: var(--light-primary-color);
	padding-bottom: 2px;
	/* border-bottom: 1px solid var(--light-primary-color); */
}
.hamburgerLinkActive > a {
	opacity: 1;
	color: var(--highlight-primary-color);
	padding-left: 20px;
	margin-left: -10px;
	background-color: var(--highlight-bg-color);
	/* border-radius: 15px; */
}

.separator {
	height: 1px;
	width: 96%;
	border-bottom: 1px solid var(--dark-bg-secondary-color);
}
.separator,
.sitemapNavHeader,
.sitemapNavTopic {
	margin: 4px 0;
}
/* @media only screen and (min-width: 650px) {
	.hamburgerWrapper {
		display: none;
		position: relative;
	}
} */
