:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: var(--dark-bg-color);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--light-primary-color: #f6f7f9;
	--light-secondary-color: #ebecf0;
	--gray-primary-color: #555a66;

	--dark-bg-color: #23272e;
	--dark-bg-secondary-color: #363a47;

	--highlight-primary-color: #149eca;
	--highlight-secondary-color: #0484af;
	--highlight-bg-color: #2a3743;

	--flex-gap: 18px;

	--hamburger-bar-width: 22px;
	--hamburger-bar-height: 2px;
	--hamburger-gap: 5px;
	--hamburger-menu-height: calc(
		var(--hamburger-bar-height) * 3 + var(--hamburger-gap) * 2
	);
	--ham-x-width: calc(var(--hamburger-menu-height) * 1.41421356237);
}
*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a {
	font-weight: 500;
	/* color: #646cff; */
	text-decoration: inherit;
}
/* a:hover {
	color: #535bf2;
} */

body {
	margin: 0;
	/* display: flex;
  place-items: center; */
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
button {
	cursor: pointer;
	border: none;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
/* button:focus,
button:focus-visible {
	outline: 2px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
